body {
  background: $bg;
  color: $lt-brown;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
  }

  hr {
    border: 0;
    border-bottom: 1px solid $pink;
    margin: 2em auto 3.25em auto;
    max-width: 70%;
    text-align: center;

    @include ie11 {
      margin: 3em auto 3em auto;
    }

    &:before {
      content: '';
      background-color: #F6F8F4;
      background-image: url(../images/electric2.svg);
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 90%;
      padding: 20px 50px 20px 50px;
      display: inline-block;
      margin-bottom: -25px;

      @include ie11 {
        display: none;
      }
    }
  }

  &.lockbox {
    overflow: hidden;
  }

  #wrapper {
    &.fixed {
      padding-top: 140px;

      #content-wrap {
        .inner {
          padding-top: 0;
        }
      }
    }

    #content-wrap {
      transition: translate $timing;

      .inner {
        margin: 0 auto;
        max-width: 722px;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 58px;
        transform: translate3d(0, 0, 0);
        transition: transform $timing;

        a {
          color: rgba(58, 76, 88, 1.00);
          border-bottom: 1px solid rgba(58, 76, 88, 1.00);
        }

        h1, h2, h3, h4, h5, h6, footer, nav {
          a {
            color: rgba(58, 76, 88, 1.00);
            border-bottom: 1px none rgba(58, 76, 88, 1.00);
          }
        }

        nav.pagination {
          .nav-arrow {
            font-size: 1.25em;
          }
        }

        article.listing {
          h2 {
            line-height: 1.5;

            a {
              border-bottom: 1px solid rgba(58, 76, 88, 1.00);
            }
          }
        }

        h1 {
          font-size: 1.9em;
          margin: 1.75em auto .2em auto;
        }

        h2 {
          font-size: 1.5em;
          margin: 1.75em auto .2em auto;
        }

        h3 {
          font-size: 1.3em;
          margin: 1.5em auto .2em auto;
        }

        h4 {
          font-size: 1.1em;
          margin: 1.35em auto .2em auto;
        }

        p, li {
          font-size: 1.15em;
          line-height: 1.4;
          margin: .5em auto 0 auto;

          & + p {
            margin-top: 1.2em;
          }

          code {
            font-size: 1.1em;
          }
        }

        .post-date + p {
          margin-top: 1.5em;
        }

        ul {
          list-style: none;
          padding-left: 0;

          li {
            line-height: 1.2;
            margin: .25em auto 0 .9em;
            text-indent: -.8em;

            &:before {
              content: '•\00a0\00a0';
              // content: '»\00a0\00a0';
            }
          }
        }

        ol {
          margin-left: 0;
          padding-left: 1.35em;

          li {
            line-height: 1.2;
            margin-top: .25em;
          }
        }

        ol ol {
          font-size: .85em;
          list-style-type: lower-latin;
          margin-bottom: .75em;
          padding-left: 1.35em;
        }

        header.content {
          h1 {
            margin-top: 0;

            & + h2 {
              margin-top: 0;
            }
          }
        }

        article {
          footer {
            font-size: .85em;
            text-transform: uppercase;
            margin-top: .85em;
          }

          &:first-child {
            h2 {
              margin-top: 0;
            }
          }
        }

        pre {
          font-size: 1.3em;
          overflow-x: auto;
          overflow-y: hidden;
          overflow: scroll;
        }

        header.content {
          margin-bottom: 2em;

          h1 + h2 {
            font-size: 1.1em;
            margin-top: 0;
          }
        }

        .post-meta {
          margin-top: 3em;

          a + span {
            padding-right: .25em;
          }
        }

        p > img {
          width: 100%;

          &.border {
            border: 2px solid $nomad;
          }
        }

        @include sm {
          p > img.inline-image {
            width: 320px;

            &.left {
              float: left;
              margin: .25em 2em .2em 0;
            }

            &.right {
              float: right;
              margin: .25em 0 .2em 2em;
            }
          }

        }

        figure.post-image {
          margin: 0 0 2em 0;

          img {
            width: 100%;

            &.border {
              border: 2px solid $nomad;
            }
          }

          figcaption {
            font: 1em "Alegreya", serif;
            text-align: center;
          }
        }

      }
    }

    &.nav-open {
      #content-wrap {
        .inner {
          transform: translate3d(-180px, 0, 0);
        }
      }
    }

    // wrapper.resume

    &.resume {
      #logos {
        margin-top: 1em;
        margin-bottom: 1em;
      }
    }

    &.resume {
      #content-wrap {
        .inner {
          #logos {
            display: flex;
            align-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            @include xs-within-limit {
              margin-left: 10%;
              margin-right: 10%;
            }

            @include sm {
              margin-left: auto;
              margin-right: auto;
            }

            img {
              max-height: 2.2em;
              max-width: 4em;
              margin-top: 1em;
              margin-bottom: 1em;
              padding-left: 1.8em;
              padding-right: 1.8em;

              &:nth-child(11) {
                padding-left: 1.1em;
                padding-right: 2.7em;
              }

              @include sm {
                &:nth-child(11) {
                  padding-left: 1.8em;
                  padding-right: 1.8em;
                }
              }

              @media screen and (min-width: 564px) and (max-width: 688px) {
                padding-left: 1em;
                padding-right: 1em;
              }

              @include md {
                margin-top: 0;
                margin-bottom: 0;
              }

              &:first-child, &:nth-child(2) { // nike logo, normal and black
                max-width: 4.25em;
                padding-right: .5em;
              }

              @include xs {
                &.tall {
                  padding-right: 2.25em;
                }
              }
            }

            @include ie11 {
              display: block;
              margin-left: auto;
              margin-right: auto;
              text-align: center;
              vertical-align: top;
            }

          }

          .date-title {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            h4 {
              font-size: .9em;
              margin-top: .2em;

              @include sm {
                font-size: 1.1em;
              }
            }

            h4.title {
              margin-left: 0;

              span.location {
                text-transform: none;
              }

              span.description {
                display: block;
                font-family: "Alegreya", serif;
                font-size: .95em;
                font-weight: normal;
                padding-top: .06em;
                text-transform: none;
              }
            }

            h4.date {
              margin-right: 0;
              text-transform: none;
            }
          }

          .education {
            h3 {
              margin-top: 1em;
            }

            h4 {
              margin-top: .5em;

              span.location {
                text-transform: none;
              }

              span.description {
                display: block;
                font-family: "Alegreya", serif;
                font-size: .98em;
                text-transform: none;
              }
            }
          }
        }
      }

      .date-title + ul {
        margin-top: 0;
      }
    }
  }
}

body.ios #wrapper #content-wrap .inner .post-meta i {
  margin-right: 0;
}

.print-only {
  display: none;
}

@media print {
  @page :first { margin: 0; }

  body {
    color: #000;
    font-size: 73%;
    margin: .25in .35in .5in .35in;

    &:not(:root:root) { // hack for Safari only / not Chrome
      font-size: 68%;
      margin: .25in .1in .5in .1in;
    }
  }

  body, header.main {
    background-color: transparent !important;
  }

  body {
    #wrapper {
      &:not(.resume) {
        margin-left: .25in;
        margin-right: .25in;
      }

      #content-wrap {
        margin-top: -.6in;

        .inner {
          &:not(:root:root) {
            padding-top: .4in;
          }

          h1 {
            margin-top: 4em;
          }
        }
      }

      &.nav-open {
        .inner { // header
          transform: translate3d(0, 0, 0);
        }

        #content-wrap {
          .inner {
            transform: translate3d(0, 0, 0);
          }
        }
      }

      &.resume {
        #logos {
          margin-top: .5em;

          & + h3 {
            margin-top: .15em;
          }

          img {
            max-height: .5in;
            max-width: .5in;
          }
        }

        h3 {
          &:not(:root:root) {
            margin-top: 0;
          }
        }

        p + h3 {
          margin-top: .6em !important;
        }

        div.education:not(:root:root) {
          margin-top: 0em;

          h3 {
            margin-top: -1em;
          }
        }
      }

      &.fixed {
        header.main {
          border: none;
          position: static;
          margin-top: -1.52in;
        }

        #content-wrap {
          margin-top: 0in;

          .inner {
            &:not(:root:root) {
              margin-top: -.25in;
              padding-top: 0 !important;
            }
          }
        }
      }
    }
  }

  body #wrapper.resume #content-wrap .inner .date-title h4 {
    &:not(:root:root) {
      margin-top: 0;
    }
  }

  // #content-wrap {
  // }

  .screen-only {
    display: none;
  }

  .print-only {
    display: block;
  }

  h1#site-title {
    margin-top: 0;

    &:not(:root:root) {
      margin-top: -1em;
    }

    a {
      color: #000;
    }
  }

  #header-contact {
    font-size: 110%;
    left: .12in;
    position: absolute;
    top: .5in;

    &:not(:root:root) {
      top: .3in;
    }

    span {
      padding-right: .25in;

      a {
        border-bottom: 0 !important;
        color: #000 !important;
      }
    }
  }

  hr:before {
    content: '';
    background-color: transparent !important;
    background-image: none !important;
  }

  p#copyright {
    display: none;
  }
}

