body {
  // font: 100% 'Alegreya', serif;
  font: 90% 'Lato', serif;

  h1,h2,h3,h4, .navigation li, .pagination span {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
  }
}
