$lt-brown: #625956;
$bg: #F6F8F4;
$header-bg: rgba(246, 248, 244, 0.90);
$header-border-none: rgba(206, 207, 203, 0);
$header-border-vis: rgba(206, 207, 203, 0.60);
$pink: #e993c4;
$timing: 250ms ease-out;
