@charset "UTF-8";
body {
  font: 100% 'Alegreya', serif; }
  body h1, body h2, body h3, body h4, body .navigation li, body .pagination span {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-transform: uppercase; }

body {
  background: #F6F8F4;
  color: #625956;
  margin: 0;
  padding: 0; }
  body a {
    text-decoration: none; }
  body hr {
    border: 0;
    border-bottom: 1px solid #e993c4;
    margin: 2em auto 3.25em auto;
    max-width: 70%;
    text-align: center; }
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
      body hr {
        margin: 3em auto 3em auto; } }
    body hr:before {
      content: '';
      background-color: #F6F8F4;
      background-image: url(../images/electric2.svg);
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 90%;
      padding: 20px 50px 20px 50px;
      display: inline-block;
      margin-bottom: -25px; }
      @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
        body hr:before {
          display: none; } }
  body.lockbox {
    overflow: hidden; }
  body #wrapper.fixed {
    padding-top: 140px; }
    body #wrapper.fixed #content-wrap .inner {
      padding-top: 0; }
  body #wrapper #content-wrap {
    transition: translate 250ms ease-out; }
    body #wrapper #content-wrap .inner {
      margin: 0 auto;
      max-width: 722px;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 58px;
      transform: translate3d(0, 0, 0);
      transition: transform 250ms ease-out; }
      body #wrapper #content-wrap .inner a {
        color: #3a4c58;
        border-bottom: 1px solid #3a4c58; }
      body #wrapper #content-wrap .inner h1 a, body #wrapper #content-wrap .inner h2 a, body #wrapper #content-wrap .inner h3 a, body #wrapper #content-wrap .inner h4 a, body #wrapper #content-wrap .inner h5 a, body #wrapper #content-wrap .inner h6 a, body #wrapper #content-wrap .inner footer a, body #wrapper #content-wrap .inner nav a {
        color: #3a4c58;
        border-bottom: 1px none #3a4c58; }
      body #wrapper #content-wrap .inner nav.pagination .nav-arrow {
        font-size: 1.25em; }
      body #wrapper #content-wrap .inner article.listing h2 {
        line-height: 1.5; }
        body #wrapper #content-wrap .inner article.listing h2 a {
          border-bottom: 1px solid #3a4c58; }
      body #wrapper #content-wrap .inner h1 {
        font-size: 1.9em;
        margin: 1.75em auto .2em auto; }
      body #wrapper #content-wrap .inner h2 {
        font-size: 1.5em;
        margin: 1.75em auto .2em auto; }
      body #wrapper #content-wrap .inner h3 {
        font-size: 1.3em;
        margin: 1.5em auto .2em auto; }
      body #wrapper #content-wrap .inner h4 {
        font-size: 1.1em;
        margin: 1.35em auto .2em auto; }
      body #wrapper #content-wrap .inner p, body #wrapper #content-wrap .inner li {
        font-size: 1.15em;
        line-height: 1.4;
        margin: .5em auto 0 auto; }
        body #wrapper #content-wrap .inner p + p, body #wrapper #content-wrap .inner li + p {
          margin-top: 1.2em; }
        body #wrapper #content-wrap .inner p code, body #wrapper #content-wrap .inner li code {
          font-size: 1.1em; }
      body #wrapper #content-wrap .inner .post-date + p {
        margin-top: 1.5em; }
      body #wrapper #content-wrap .inner ul {
        list-style: none;
        padding-left: 0; }
        body #wrapper #content-wrap .inner ul li {
          line-height: 1.2;
          margin: .25em auto 0 .9em;
          text-indent: -.8em; }
          body #wrapper #content-wrap .inner ul li:before {
            content: '\2022\A0\A0'; }
      body #wrapper #content-wrap .inner ol {
        margin-left: 0;
        padding-left: 1.35em; }
        body #wrapper #content-wrap .inner ol li {
          line-height: 1.2;
          margin-top: .25em; }
      body #wrapper #content-wrap .inner ol ol {
        font-size: .85em;
        list-style-type: lower-latin;
        margin-bottom: .75em;
        padding-left: 1.35em; }
      body #wrapper #content-wrap .inner header.content h1 {
        margin-top: 0; }
        body #wrapper #content-wrap .inner header.content h1 + h2 {
          margin-top: 0; }
      body #wrapper #content-wrap .inner article footer {
        font-size: .85em;
        text-transform: uppercase;
        margin-top: .85em; }
      body #wrapper #content-wrap .inner article:first-child h2 {
        margin-top: 0; }
      body #wrapper #content-wrap .inner pre {
        font-size: 1.3em;
        overflow-x: auto;
        overflow-y: hidden;
        overflow: scroll; }
      body #wrapper #content-wrap .inner header.content {
        margin-bottom: 2em; }
        body #wrapper #content-wrap .inner header.content h1 + h2 {
          font-size: 1.1em;
          margin-top: 0; }
      body #wrapper #content-wrap .inner .post-meta {
        margin-top: 3em; }
        body #wrapper #content-wrap .inner .post-meta a + span {
          padding-right: .25em; }
      body #wrapper #content-wrap .inner p > img {
        width: 100%; }
        body #wrapper #content-wrap .inner p > img.border {
          border: 2px solid #b6b0a8; }
      @media (min-width: 576px) {
        body #wrapper #content-wrap .inner p > img.inline-image {
          width: 320px; }
          body #wrapper #content-wrap .inner p > img.inline-image.left {
            float: left;
            margin: .25em 2em .2em 0; }
          body #wrapper #content-wrap .inner p > img.inline-image.right {
            float: right;
            margin: .25em 0 .2em 2em; } }
      body #wrapper #content-wrap .inner figure.post-image {
        margin: 0 0 2em 0; }
        body #wrapper #content-wrap .inner figure.post-image img {
          width: 100%; }
          body #wrapper #content-wrap .inner figure.post-image img.border {
            border: 2px solid #b6b0a8; }
        body #wrapper #content-wrap .inner figure.post-image figcaption {
          font: 1em "Alegreya", serif;
          text-align: center; }
  body #wrapper.nav-open #content-wrap .inner {
    transform: translate3d(-180px, 0, 0); }
  body #wrapper.resume #logos {
    margin-top: 1em;
    margin-bottom: 1em; }
  body #wrapper.resume #content-wrap .inner #logos {
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    @media (min-width: 331px) and (max-width: 401px) {
      body #wrapper.resume #content-wrap .inner #logos {
        margin-left: 10%;
        margin-right: 10%; } }
    @media (min-width: 576px) {
      body #wrapper.resume #content-wrap .inner #logos {
        margin-left: auto;
        margin-right: auto; } }
    body #wrapper.resume #content-wrap .inner #logos img {
      max-height: 2.2em;
      max-width: 4em;
      margin-top: 1em;
      margin-bottom: 1em;
      padding-left: 1.8em;
      padding-right: 1.8em; }
      body #wrapper.resume #content-wrap .inner #logos img:nth-child(11) {
        padding-left: 1.1em;
        padding-right: 2.7em; }
      @media (min-width: 576px) {
        body #wrapper.resume #content-wrap .inner #logos img:nth-child(11) {
          padding-left: 1.8em;
          padding-right: 1.8em; } }
      @media screen and (min-width: 564px) and (max-width: 688px) {
        body #wrapper.resume #content-wrap .inner #logos img {
          padding-left: 1em;
          padding-right: 1em; } }
      @media (min-width: 768px) {
        body #wrapper.resume #content-wrap .inner #logos img {
          margin-top: 0;
          margin-bottom: 0; } }
      body #wrapper.resume #content-wrap .inner #logos img:first-child, body #wrapper.resume #content-wrap .inner #logos img:nth-child(2) {
        max-width: 4.25em;
        padding-right: .5em; }
      @media (min-width: 1px) {
        body #wrapper.resume #content-wrap .inner #logos img.tall {
          padding-right: 2.25em; } }
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
      body #wrapper.resume #content-wrap .inner #logos {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        vertical-align: top; } }
  body #wrapper.resume #content-wrap .inner .date-title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
    body #wrapper.resume #content-wrap .inner .date-title h4 {
      font-size: .9em;
      margin-top: .2em; }
      @media (min-width: 576px) {
        body #wrapper.resume #content-wrap .inner .date-title h4 {
          font-size: 1.1em; } }
    body #wrapper.resume #content-wrap .inner .date-title h4.title {
      margin-left: 0; }
      body #wrapper.resume #content-wrap .inner .date-title h4.title span.location {
        text-transform: none; }
      body #wrapper.resume #content-wrap .inner .date-title h4.title span.description {
        display: block;
        font-family: "Alegreya", serif;
        font-size: .95em;
        font-weight: normal;
        padding-top: .06em;
        text-transform: none; }
    body #wrapper.resume #content-wrap .inner .date-title h4.date {
      margin-right: 0;
      text-transform: none; }
  body #wrapper.resume #content-wrap .inner .education h3 {
    margin-top: 1em; }
  body #wrapper.resume #content-wrap .inner .education h4 {
    margin-top: .5em; }
    body #wrapper.resume #content-wrap .inner .education h4 span.location {
      text-transform: none; }
    body #wrapper.resume #content-wrap .inner .education h4 span.description {
      display: block;
      font-family: "Alegreya", serif;
      font-size: .98em;
      text-transform: none; }
  body #wrapper.resume .date-title + ul {
    margin-top: 0; }

body.ios #wrapper #content-wrap .inner .post-meta i {
  margin-right: 0; }

.print-only {
  display: none; }

@media print {
  @page :first {
    margin: 0; }
  body {
    color: #000;
    font-size: 73%;
    margin: .25in .35in .5in .35in; }
    body:not(:root:root) {
      font-size: 68%;
      margin: .25in .1in .5in .1in; }
  body, header.main {
    background-color: transparent !important; }
  body #wrapper:not(.resume) {
    margin-left: .25in;
    margin-right: .25in; }
  body #wrapper #content-wrap {
    margin-top: -.6in; }
    body #wrapper #content-wrap .inner:not(:root:root) {
      padding-top: .4in; }
    body #wrapper #content-wrap .inner h1 {
      margin-top: 4em; }
  body #wrapper.nav-open .inner {
    transform: translate3d(0, 0, 0); }
  body #wrapper.nav-open #content-wrap .inner {
    transform: translate3d(0, 0, 0); }
  body #wrapper.resume #logos {
    margin-top: .5em; }
    body #wrapper.resume #logos + h3 {
      margin-top: .15em; }
    body #wrapper.resume #logos img {
      max-height: .5in;
      max-width: .5in; }
  body #wrapper.resume h3:not(:root:root) {
    margin-top: 0; }
  body #wrapper.resume p + h3 {
    margin-top: .6em !important; }
  body #wrapper.resume div.education:not(:root:root) {
    margin-top: 0em; }
    body #wrapper.resume div.education:not(:root:root) h3 {
      margin-top: -1em; }
  body #wrapper.fixed header.main {
    border: none;
    position: static;
    margin-top: -1.52in; }
  body #wrapper.fixed #content-wrap {
    margin-top: 0in; }
    body #wrapper.fixed #content-wrap .inner:not(:root:root) {
      margin-top: -.25in;
      padding-top: 0 !important; }
  body #wrapper.resume #content-wrap .inner .date-title h4:not(:root:root) {
    margin-top: 0; }
  .screen-only {
    display: none; }
  .print-only {
    display: block; }
  h1#site-title {
    margin-top: 0; }
    h1#site-title:not(:root:root) {
      margin-top: -1em; }
    h1#site-title a {
      color: #000; }
  #header-contact {
    font-size: 110%;
    left: .12in;
    position: absolute;
    top: .5in; }
    #header-contact:not(:root:root) {
      top: .3in; }
    #header-contact span {
      padding-right: .25in; }
      #header-contact span a {
        border-bottom: 0 !important;
        color: #000 !important; }
  hr:before {
    content: '';
    background-color: transparent !important;
    background-image: none !important; }
  p#copyright {
    display: none; } }

header.main {
  background: rgba(246, 248, 244, 0.9);
  border-bottom: 1px solid rgba(206, 207, 203, 0);
  transition: border-color 250ms ease-out; }
  header.main .inner {
    display: flex;
    font-size: .92em;
    height: 56px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 724px;
    padding: 1em;
    position: relative;
    transform: translate3d(0, 0, 0);
    transition: transform 250ms ease-out; }
    header.main .inner h1 {
      font-size: 1.5rem;
      padding-top: .4em; }
      header.main .inner h1 a {
        color: #e993c4; }

#wrapper.fixed header.main {
  border-bottom: 1px solid rgba(206, 207, 203, 0.6);
  position: fixed;
  top: -22px;
  width: 100%;
  z-index: 1; }

#wrapper.nav-open .inner {
  transform: translate3d(-180px, 0, 0); }

#burger-button {
  cursor: pointer;
  height: 60px;
  margin-top: .2em;
  margin-right: -6px;
  position: relative;
  transform: scale(0.5);
  transition: .5s ease-in-out;
  width: 60px;
  z-index: 10000; }
  #burger-button span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #e993c4;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 300ms ease-out; }
    #burger-button span:nth-child(1) {
      top: 22px;
      transform-origin: left center; }
    #burger-button span:nth-child(2) {
      top: 40px;
      transform-origin: left center; }
    #burger-button span:nth-child(3) {
      top: 58px;
      transform-origin: left center; }
  #burger-button.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 18px;
    left: 8px; }
  #burger-button.open span:nth-child(2) {
    width: 0%;
    opacity: 0; }
  #burger-button.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 60px;
    left: 8px; }

.navigation {
  background-color: #b6b0a8;
  bottom: 0;
  font-family: "NeuzeitGro-Bol";
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.05em;
  list-style-type: none;
  margin: 0;
  opacity: 0;
  overflow-x: hidden;
  padding: 0;
  pointer-events: none;
  position: fixed;
  right: -180px;
  top: 0;
  transition: opacity 250ms ease-out, transform 250ms ease-out;
  transform: translate3d(0, 0, 0);
  width: 180px;
  z-index: 9999; }
  header.open .navigation {
    opacity: 1;
    pointer-events: all;
    transform: translate3d(-180px, 0, 0); }
  .navigation li {
    margin: 1.15em .65em 0 1.2em; }
    .navigation li:first-child {
      margin-top: 6em; }
    .navigation li a {
      color: #3c3f41;
      font-size: 1em;
      text-decoration: none; }
  .navigation li#contact {
    bottom: 1em;
    font-size: .9em;
    position: absolute; }
    .navigation li#contact p {
      line-height: 1.9; }
    .navigation li#contact span {
      font-size: .9em;
      display: block;
      font-family: 'Alegreya', serif;
      text-transform: none; }
    .navigation li#contact i {
      font-size: 1.2em;
      padding-right: .6em;
      padding-top: .5em; }

.pagination {
  margin-top: 2em; }
  .pagination a {
    border-bottom: 1px none #999; }

body #wrapper #content-wrap .inner footer p#copyright {
  font-size: 1em;
  margin-top: 5em;
  margin-bottom: 2em;
  text-align: center; }
  body #wrapper #content-wrap .inner footer p#copyright span {
    color: #e993c4; }

figure.zoombox img {
  cursor: pointer; }

div#zoombox {
  background-color: rgba(30, 30, 30, 0);
  display: flex;
  align-items: center;
  height: 100%;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: background-color 250ms ease-out;
  width: 100%;
  z-index: 10; }
  body.zoombox div#zoombox {
    background-color: rgba(30, 30, 30, 0.95);
    pointer-events: all; }
    body.zoombox div#zoombox div.close {
      display: block; }
  div#zoombox div.close {
    cursor: pointer;
    background-image: url(../images/icon_x.svg);
    display: none;
    height: 40px;
    position: absolute;
    right: 2em;
    top: 1em;
    width: 40px;
    z-index: 15; }
  div#zoombox div.inner {
    width: 100%; }
    div#zoombox div.inner figure.post-image {
      margin: 0 10px; }
      div#zoombox div.inner figure.post-image.zoombox img {
        cursor: default; }
      div#zoombox div.inner figure.post-image img {
        opacity: 0;
        transition: opacity 250ms ease-out;
        width: 100%; }
        body.zoombox div#zoombox div.inner figure.post-image img {
          opacity: 1; }
      div#zoombox div.inner figure.post-image figcaption {
        color: #f6f8f4;
        font-size: .9em;
        text-align: center; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJjc3Mvc3R5bGVzLmNzcyIsInNvdXJjZVJvb3QiOiIifQ==*/