        <ul class="navigation screen-only">
          <li>
            <a class="active" href="/">Home</a>
          </li>
          <li>
            <a href="/about/">About</a>
          </li>
          <li>
            <a href="/resume/">Résumé</a>
          </li>
          <li>
            <a href="/values/">Values</a>
          </li>
          <li id="contact">
            <p>Dylan Smith<br />
              <!-- <a href="tel:+15032221442">503-222-1442</a><br /> -->
              <span>
                <script type="text/javascript">document.write(
                  "<n uers=\"gry:+15032221442\">503-222-1442<\057n>".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
                </script>
              </span>
              <!-- <a href="mailto:hello@dylansmith.com">hello@dylansmith.com</a> -->
              <span>
                <script type="text/javascript">document.write(
                  "<n uers=\"znvygb:uryyb\100qlynafzvgu\056pbz\">uryyb\100qlynafzvgu\056pbz<\057n>".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
                </script>
              </span>
              <a href="https://www.github.com/dylansm" target="social"><i class="fa fa-github fa-fw" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/in/dylansm" target="social"><i class="fa fa-linkedin fa-fw" aria-hidden="true"></i></a>
              <a href="https://www.twitter.com/dylansm" target="social"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></a>
            </p>
          </li>
        </ul>

